body{
  background-image: url(alien_flower.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  }
nav{
  background-color: black;
  color: white;
  padding: 20px;
  
}
li,h1,ul{
  display: inline;
  }
ul{
  margin-left: 60%;
  
}
li{
  color: white;
  cursor: pointer;
}
li:hover{
  color: goldenrod;
}
input{
  width: 60%;
  padding: 15px;
  }
.searchbar{
  padding: 25px;
  text-align: center;
  padding-bottom: 100px;
  
}
.box{
  border-color: whitesmoke;
  border-width: 2px;
  border-style: solid;
  display: inline-block;
  width: 250px;
  
}
.box:hover{
  background-color: whitesmoke;
  color: black;
}
.products{
  text-align: center;
  padding-top: 20px;
  
}
.about{
  margin:20px;
  padding: 20px;
  color: whitesmoke;
}
.contact{
  background-color: black;
  color: white;
  margin: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
